{
	"plugins": ["node"],
	"extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
	"rules": {
		"node/exports-style": ["error", "module.exports"],
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "next"
			}
		]
	},
	"parserOptions": {
        "ecmaVersion": 2018
    },
    "env": {"es6": true}
}
